<div class="header">
  <h2 class="header__title">ASDF this the home.html.erb file ...</h2>
  <h3 class="header__subtitle">If you lived here, you'd be home now.</h3>
</div>

<form>
<button class='vote__button--1' data-id='1'>Click1</button>
<button class='vote__button--2' data-id='2'>Click2</button>
<button class='vote__button--3' data-id='3'>ClickFromJavascript3</button>
<button class='vote__button--4' data-id='4'>Click Here4</button>
<button class='vote__button--5' data-id='5'>Click Here5</button>
</button>